/*body {
	background-color: #999999;
}*/

#center {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid;
}

.student {
	font-family: Helvetica;
	padding-left: 20px;
}

.activity {
	border: 0px solid;
	text-align: center;
	font-family: Helvetica;
	margin-bottom: 50px;
}
	.activity iframe {
		width: 800px;
		height: 900px;
	}