/*body {
	background-color: #999999;
}*/

#center {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

.activity {
	border: 1px solid;
	text-align: center;
	font-family: Helvetica;
}
	.activity iframe {
		width: 800px;
		height: 500px;
	}